{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
New S3 bucket
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p class="bg-info" style="padding: 15px;">
            {% for message in messages %}
            {{ message }}<br>
            {% endfor %}
        </p>
        {% endif %}
        {% endwith %}
        <hr>
        <form class="form-signin" method="POST" action="/create_bucket">
            <h2 class="form-signin-heading">Create new bucket <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></h2>
            <div class="alert alert-danger" role="alert">
                Resources should be tagged, you can use any tags you like but MINIMUM required is 'Owner' tag with your {login} as value, ie. Owner: anowak <b>—CHECK IT OUT !</b>
            </div>
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.bucket_name) }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Create <span class="glyphicon glyphicon-send" aria-hidden="true"></span></button>
        </form>
    </div>
</div>
{% endblock %}